<?xml version="1.0" encoding="utf-8"?>
<installer-gui-script minSpecVersion="1">
	<title>TestApp</title>
	<background alignment="topleft" file="root/Applications/TestApp-{{.version}}.app/Contents/MacOS/assets/icon.png"/>
	<choices-outline>
	    <line choice="choiceBase"/>
    </choices-outline>
    <choice id="choiceBase" title="base">
        <pkg-ref id="ga.testapp.desktop.pkg"/>
    </choice>
    <pkg-ref id="ga.testapp.desktop.pkg" version="{{.version}}" auth="Root">#base.pkg</pkg-ref>
</installer-gui-script>
